{{!-- Reference: https://brightthemes.com/blog/ghost-featured-posts-slider --}}

{{! Featured posts }}
{{#get 'posts' filter='featured:true' limit='all' as |featured|}}
  <div class='featured-carousel'>
    {{#foreach featured visibility='all'}}
      <div class='featured-carousel-card'>
        {{! Feature Image }}
        {{#if feature_image}}
          <a
            class='featured-carousel-card-image'
            href='{{url}}'
            title='{{title}}'
            aria-label='{{title}}'
          >
            <img
              src='{{img_url feature_image size='s'}}'
              alt='{{title}}'
              loading="lazy"
            />
          </a>
        {{/if}}

        {{!-- Post Text --}}
        <div class='featured-carousel-card-text'>
          {{! Post Title }}
          <div class='featured-carousel-card-title'>
            <a
              href='{{url}}'
              aria-label='{{title}}'
            >
              <h4>{{title}}</h4>
            </a>
          </div>

          
          {{!-- Post Excerpt --}}
          {{#if excerpt}}
          <div class='featured-carousel-card-excerpt'>
            {{!-- Ideally, implement a way to truncate custom excerpts here, since
            the default truncation with "words" or "characters" only works on
            regular excerpts, alas
              --> source: https://ghost.org/docs/themes/helpers/excerpt/
            A few options include:
              - CURRENT CHOICE: CSS truncation with ellipsis ("text-overflow" property)
                --> only works well with single-line though
                --> source: https://stackoverflow.com/questions/33058004/applying-an-ellipsis-to-multiline-text
              - inline JavaScript
              - pre-built JavaScript library (e.g., lodash)
              - 
            --}}
            <p>{{excerpt}}</p>
          </div>
          {{/if}}
        </div>

      </div>
    {{/foreach}}
  </div>
{{/get}}
{{#contentFor 'scripts'}}
    {{!-- Customized according to: https://github.com/ganlanyuan/tiny-slider?tab=readme-ov-file#options --}}
    <script>
        const sliderContainer = document.querySelector('.featured-carousel'); if
        (sliderContainer) { const slider = tns({
          container: sliderContainer,
          items: 3,
          slideBy: 1,
          loop: true,
          autoplay: false,
          nav: false,
          controls: true,
          mouseDrag: true,
          gutter: 32,
          edgePadding: 16,
          responsive: { 0: { items: 1, }, 768: { items: 2, }, 992: { items: 3, } }
          });
        }
    </script>
{{/contentFor}}