{{!-- References:
  - https://brightthemes.com/blog/ghost-featured-posts-slider
  - https://www.youtube.com/watch?v=ObFqp3yTwjQ
  - https://www.youtube.com/watch?v=GTS-5aHwR8o
  - Using <span> instead of <i> for icons: https://github.com/freeCodeCamp/freeCodeCamp/issues/9464
--}}

{{!-- TODO: Make this a resuable component such that ANY collection of posts
can be displayed in the carousel --}}

<div class="featured-carousel">
{{! Obtain the context for featured posts }}
{{#get 'posts' include="tags" filter='featured:true' limit='all' as |featured|}}
  {{!-- The carousel controls (previous and next buttons) --}}
  <div class="featured-carousel-controls">
    <button class="featured-carousel-prev-button">
      <span class="featured-carousel-prev-button-icon">{{> "icons/left-arrowhead"}}</span>
    </button>
    <button class="featured-carousel-next-button">
      <span class="featured-carousel-next-button-icon">{{> "icons/right-arrowhead"}}</span>
    </button>
  </div>
  {{!-- The carousel itself, containing cards for each featured post --}}
  <div class='featured-carousel-items'>
    {{#foreach featured visibility='all'}}
      <div class='featured-carousel-card'>
        {{! Displaying the post's feature image }}
        {{#if feature_image}}
          <a
            class='featured-carousel-card-image'
            href='{{url}}'
            title='{{title}}'
            aria-label='{{title}}'
          >
            <img
              src='{{img_url feature_image size='m'}}'
              alt='{{title}}'
              loading="lazy"
            />
          </a>
        {{/if}}

        {{!-- Displaying the post's title and (custom) excerpt --}}
        <div class='featured-carousel-card-text'>
          {{! Displaying the post's title }}
          <div class='featured-carousel-card-title'>
            <a
              href='{{url}}'
              aria-label='{{title}}'
            >
              <h4>{{title}}</h4>
            </a>
          </div>

          <div class='featured-carousel-card-info'>
            {{!-- Displaying the publication date --}}
            <time class="featured-carousel-card-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMM YYYY"}}</time>
            {{!-- Displaying the reading time --}}
            {{#if reading_time}}
              <span class="featured-carousel-card-length">{{reading_time}}</span>
            {{/if}}
            {{!-- Displaying the primary tag --}}
            {{#if primary_tag}}
              <a class="gh-article-tag" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
            {{/if}}
          </div>
          
          {{!-- Displaying the post's excerpt --}}
          {{#if excerpt}}
          <div class='featured-carousel-card-excerpt'>
            {{!-- Ideally, implement a way to truncate custom excerpts here, since
            the default truncation with "words" or "characters" only works on
            regular excerpts, alas
              --> source: https://ghost.org/docs/themes/helpers/excerpt/
            A few options include:
              - CURRENT CHOICE: CSS truncation with ellipsis ("text-overflow" property)
                --> only works well with single-line though
                --> source: https://stackoverflow.com/questions/33058004/applying-an-ellipsis-to-multiline-text
              - inline JavaScript
              - pre-built JavaScript library (e.g., lodash)
              - 
            --}}
            <p>{{excerpt}}</p>
          </div>
          {{/if}}
        </div>

      </div>
    {{/foreach}}
  </div>
{{/get}}
</div>

{{!--
  Injecting the Tiny Slider carousel into the DOM
  based on the structure defined above
--}}
{{#contentFor 'scripts'}}
    {{!-- Customized according to: https://github.com/ganlanyuan/tiny-slider?tab=readme-ov-file#options --}}
    <script>
        const sliderContainer = document.querySelector('.featured-carousel-items'); if
        (sliderContainer) { const slider = tns({
          container: sliderContainer,
          items: 3,
          slideBy: 1,
          loop: true,
          autoplay: false,
          nav: false,
          controls: true,
          controlsContainer: '.featured-carousel-controls',
          mouseDrag: true,
          gutter: 32,
          edgePadding: 16,
          responsive: { 0: { items: 1, }, 768: { items: 2, }, 992: { items: 3, } }
          });
        }
    </script>
{{/contentFor}}