{{!-- Reference: https://brightthemes.com/blog/ghost-featured-posts-slider --}}

{{! Featured posts }}
{{#get 'posts' filter='featured:true' limit='all' as |featured|}}
  <div class='featured-carousel'>
    {{#foreach featured visibility='all'}}
      <div class='featured-carousel-card'>
        {{! Feature Image }}
        {{#if feature_image}}
          <a
            class='featured-carousel-card-image'
            href='{{url}}'
            title='{{title}}'
            aria-label='{{title}}'
          >
            <img
              src='{{img_url feature_image size='s'}}'
              alt='{{title}}'
              loading="lazy"
            />
          </a>
        {{/if}}

        {{! Post Title }}
        <a 
          class='featured-carousel-card-title'
          href='{{url}}'
          aria-label='{{title}}'
        >
          {{title}}
        </a>
      </div>
    {{/foreach}}
  </div>
{{/get}}
{{#contentFor 'scripts'}}
    <script>
        const sliderContainer = document.querySelector('.featured-carousel'); if
        (sliderContainer) { const slider = tns({
          container: sliderContainer,
          items: 3,
          slideBy: 1,
          loop: true,
          autoplay: false,
          nav: false,
          controls: true,
          gutter: 32,
          responsive: { 0: { items: 1, }, 768: { items: 2, }, 992: { items: 3, } }
          });
        }
    </script>
{{/contentFor}}