{{!-- Reference: https://brightthemes.com/blog/ghost-featured-posts-slider --}}

{{! Featured posts }}
{{#get 'posts' filter='featured:true' limit='all' as |featured|}}
  <div class='featured-feed js-featured-feed'>
    {{#foreach featured visibility='all'}}
      <div class='featured-card'>
        {{! Feature Image }}
        {{#if feature_image}}
          <a
            class='featured-card__media m-b-sm'
            href='{{url}}'
            title='{{title}}'
            aria-label='{{title}}'
          >
            <img
              src='{{img_url feature_image size='s'}}'
              alt='{{title}}'
              loading="lazy"
            />
          </a>
        {{/if}}

        {{! Post Title }}
        <h2 class='fw-600 m-b-0 text-acc-1 text-xl'>
          <a href='{{url}}' aria-label='{{title}}'>{{title}}</a>
        </h2>
      </div>
    {{/foreach}}
  </div>
{{/get}}
{{#contentFor 'scripts'}}
    <script>
        const sliderContainer = document.querySelector('.js-featured-feed'); if
        (sliderContainer) { const slider = tns({ container: sliderContainer, items:
        3, slideBy: 1, loop: true, autoplay: false, gutter: 32, nav: true,
        responsive: { 0: { items: 1, }, 768: { items: 2, }, 992: { items: 3, } } });
        }
    </script>
{{/contentFor}}